/* id */

#title {
  background: radial-gradient(circle, rgba(54, 217, 125, 1) 0%, rgba(148, 187, 233, 1) 100%);
  position: relative;
  width: 100%;
  box-shadow: 1px 1px 10px;
}

#about-me {
  margin: 10rem auto;
  width: 70%;
  text-align: center;
}

#projects {
  width: 70%;
  margin: 10rem auto;
}

#skills {
  margin: 10rem auto;
  width: 70%;
}

#contact {
  margin: 10rem auto;
  width: 70%;
}

#footer {
  width: 100%;
  background: radial-gradient(circle, rgba(54, 217, 125, 1) 0%, rgba(148, 187, 233, 1) 100%);
  position: relative;
  padding: 2.5rem;
  box-shadow: 1px 1px 10px;
}

/* class */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Title */

.coding-image {
  height: 250px;
  margin: 0 auto;
  padding: 0;
}

.btn-title {
  margin-top: 7rem;
  border: none;
  background: #94bbe9;
  background: linear-gradient(45deg, #00c9ff, #92fe9d);
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px -2px;
}

.btn-title:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 1px 1px 5px -2px;
}

.title-header {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-size: 2.5rem;
}

.title-text {
  font-size: 1.2rem;
  margin-bottom: 50px;
}

/* Sayfa Ayırıcı */

.page-separator-img {
  height: 7rem;
}

.left {
  text-align: right;
}

/* Hakkımda */

.about-me-text {
  grid-area: 1/2/3/3;
  text-align: left;
}
.personal-photo {
  height: 8rem;
  margin-top: 10px;
  border-radius: 5%;
}

/* Projelerim */

.projects-title {
  grid-area: 1/1/2/4;
}

.project-img {
  height: 10rem;
}

.project-border {
  padding: 1rem;
  position: relative;
  background: #36d97d;
  background: radial-gradient(circle, rgba(54, 217, 125, 1) 0%, rgba(148, 187, 233, 1) 100%);
  padding: 3px;
}

.project-item {
  background: white;
  color: black;
  padding: 1.5rem 0;
}

/* Becerilerim */

.skills-header {
  grid-area: 1/1/2/3;
  text-align: center;
}

.skills-image {
  height: 7rem;
}

.skills-image-div {
  text-align: center;
}

.contact-button {
  text-align: center;
}

.btn-contact {
  margin-top: 3rem;
  border: none;
  background: #94bbe9;
  background: linear-gradient(45deg, #00c9ff, #92fe9d);
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 6%;
  box-shadow: 1px 2px 5px -2px;
}

.btn-contact:hover {
  filter: brightness(1.1);
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 1px 1px 5px -2px;
}

.contact-icons {
  height: 0.85rem;
}

/* elements */

body {
  margin: 0;
  font-family: "IBM Plex Serif", serif;
}

h2 {
  font-family: "Barlow", sans-serif;
}

h3 {
  font-family: "Barlow", sans-serif;
}

hr {
  width: 80%;
  height: 1px;
  background-color: #ddd;
  border: none;
}

a {
  text-decoration: none;
  color: #345882;
}

a:hover {
  text-decoration: underline;
  color: #677e99;
}

/* combines */

.title-header,
.title-text {
  grid-column: 1 / span 5;
}

.title-text h2 {
  font-family: "Quicksand", sans-serif;
}

.title-header h1 {
  margin: 50px 0 0;
}

.about-me-text h2 {
  margin-top: 15px;
}

.about-me-photo-info p {
  margin-top: 7px;
}

#projects h2 {
  font-size: 2.5rem;
  margin: 0;
}

#skills h2 {
  font-size: 2.2rem;
}

#contact h2 {
  font-size: 2.5rem;
  text-align: center;
}

#contact p {
  font-size: 1.3rem;
  text-align: center;
}

#footer ul {
  list-style: none;
  font-size: 0.9rem;
}

/* Grid Layouts */

.title-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 0.4fr);
  gap: 0.62rem;
  text-align: center;
  padding: 100px 0 0;
}

.page-separator {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  gap: 300px;
  margin: 6rem 0 0;
}

.about-me-layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2fr 1fr;
  gap: 0.62rem;
}

.projects-layout {
  display: grid;
  grid-template: 1fr 4fr / repeat(3, minmax(367px, 1fr));
  gap: 0.62rem;
  text-align: center;
}

.skills-layout {
  display: grid;
  grid-template: repeat(5, 1fr) / 1fr 4fr;
  gap: 2.5rem 1.9rem;
}

.contact-layout {
  display: grid;
  grid-template: repeat(3, 0.5fr) / auto;
  gap: 0.62rem;
}

.footer-layout {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  gap: 0.62rem;
  text-align: center;
}

/* responsiveness */

@media (max-width: 1200px) {
  .projects-layout {
    grid-template: 1fr 4fr / repeat(3, 5fr);
  }

  .page-separator-img {
    height: 5rem;
  }

  .project-img {
    height: 7rem;
  }
}

@media (max-width: 992px) {
  /* title */

  .title-layout {
    grid-template-rows: repeat(4, 0.4fr);
    gap: 1rem;
  }

  .title-image {
    grid-area: 3/3/5/4;
  }

  /* button */

  .button-about-me {
    grid-area: 3/2/4/3;
  }

  .button-projects {
    grid-area: 4/2/5/3;
  }

  .button-skills {
    grid-area: 3/4/4/5;
  }

  .button-contact {
    grid-area: 4/4/5/5;
  }
  .btn-title {
    margin: 0 0 74px;
    width: 100%;
    border-radius: 5px;
  }

  /* page-separator */

  .page-separator {
    width: 90%;
    gap: 160px;
  }

  .page-separator-img {
    height: 5rem;
  }

  /* projects */

  #projects {
    width: 90%;
    margin: 5rem auto;
  }

  .project-img {
    height: 6rem;
  }

  /* other-id's */

  #about-me {
    margin: 5rem auto;
    width: 90%;
  }

  #skills {
    margin: 5rem auto;
    width: 90%;
  }

  #contact {
    margin: 5rem auto;
    width: 90%;
  }
}

@media (max-width: 768px) {
  /* about-me */

  .about-me-layout {
    grid-template: 2fr 1fr 3fr / 1fr;
  }

  #about-me {
    margin: 3rem auto;
    width: 90%;
  }

  .about-me-text {
    grid-area: 3/1/4/2;
    text-align: justify;
  }

  .personal-photo {
    height: 13rem;
  }

  #about-me h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  #about-me p {
    font-size: 1.1rem;
  }

  /* projects */

  .projects-layout {
    grid-template: 1fr repeat(3, 4fr) / 1fr;
    gap: 2rem;
  }

  #projects {
    width: 90%;
    margin: 3rem auto;
  }

  .projects-title {
    grid-area: 1/1/2/2;
  }

  .project-item {
    height: 20rem;
  }

  .project-img {
    height: 16rem;
  }

  #projects h3 {
    font-size: 1.5rem;
  }

  /* skills */

  .skills-layout {
    grid-template: 0.4fr repeat(8, 1fr) / 1fr;
    gap: 2rem;
  }

  #skills {
    margin: 2rem auto;
    width: 90%;
  }

  .skills-header {
    grid-area: 1/1/2/2;
  }

  .skills-image {
    height: 15rem;
    margin-top: 1.5rem;
  }

  #skills h3 {
    font-size: 2rem;
    text-align: center;
  }

  #skills p {
    font-size: 1.2rem;
    text-align: justify;
  }

  /* page-separator */

  .page-separator {
    width: 90%;
    gap: 100px;
  }

  .page-separator-img {
    height: 4rem;
  }

  /* footer/contact */

  #contact {
    margin: 3rem auto;
    width: 90%;
  }

  .contact-icons {
    height: 1.2rem;
  }

  #footer ul {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  /* title */

  .title-layout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 0.4fr);
    gap: 1rem;
  }

  .btn-title {
    width: 100%;
    margin: 0;
  }

  .button-about-me {
    grid-area: 3/1/4/2;
  }

  .button-projects {
    grid-area: 4/1/5/2;
  }

  .button-skills {
    grid-area: 3/2/4/3;
  }

  .button-contact {
    grid-area: 4/2/5/3;
  }

  .title-header {
    font-size: 1.5rem;
    grid-column: 1/3;
  }

  .title-text {
    font-size: 1rem;
    grid-column: 1/3;
  }

  .title-image {
    display: none;
    grid-area: unset;
  }

  /* about-me */

  .about-me-layout {
    grid-template: 0.5fr 0.5fr 1.5fr / 1fr;
  }

  .personal-photo {
    height: 8rem;
  }

  /* projects */

  .projects-layout {
    grid-template: 1fr repeat(3, 3fr) / 1fr;
    gap: 2rem;
  }

  .project-item {
    height: 10rem;
  }

  .project-img {
    height: 7rem;
  }

  /* skills */

  .skills-layout {
    grid-template: 0.2fr repeat(8, 0.5fr) / 1fr;
    gap: 2rem;
  }

  .skills-image {
    height: 10rem;
  }

  /* page-separator */

  .page-separator {
    width: 90%;
    gap: 70px;
  }

  .page-separator-img {
    height: auto;
    width: 100%;
  }

  /* footer */

  .footer-layout {
    grid-template: 1fr 1fr 1fr / 1fr;
  }
}
